body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.header {
    background: #b7e4e6;
    display: flex;
    align-items: center;
    width: 100%;
    height: 130%;
    border-bottom: 3px solid #666;
}

.logo {
    margin-left: 110px;   
}

.logo img {
    width: 120px;        
}


.judul {
    text-align: center;
    width: 100%;
}

.judul h3 {
    margin: 0;
    font-weight: bold;
    font-size: 26px;   
}

/* MENU */
.menu {
    text-align: center;
    padding: 15px;
    border-right: 3px solid #666;
}

.menu h5 {
    font-size: 20px;    
    font-weight: bold;
    margin-bottom: 15px;
}

.menu-box {
    background: #c70039;
    padding: 10px;
    border: 3px solid #800000;
}

.menu-box a {
    display: block;
    color: white;
    background: #d90429;
    margin: 5px 0;
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
}

.menu-box a:hover {
    background: #9d0208;
}

/* CONTENT */
.content {
    padding: 20px;
    border-left: 3px solid #666;
}


.form-box {
    width: 70%;
    margin: auto;
}

.judul-form {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}



/* FOOTER */
.footer {
    background: #b7e4e6;
    text-align: center;
    padding-top: 15px;
    font-size: 14px;
    border-top: 3px solid #666;
}

.header, .footer {
    background-color: #b0dfe5;
}
